.navbar {
  font-family: "Times New Roman", Times, serif;
}

.topper {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.date {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
}

heading {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
}

byline {
  font-size:1.2em;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-style: italic;
}

.container2 {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-family: georgia, serif;
  line-height: 180%;
}

.caption {
  text-align: center;
  font-style: italic;
  font-family: georgia, serif;
}

.source {
  text-align: center;
  font-family: georgia, serif;
  font-size: 1em;
  color: grey;
}

footer {
  text-align: center;
  color: #FFFF;
  background-color: #95CADB;
  font-family: georgia, serif;
}

.author {
  color:#2C3E4C;
  font-weight: bold;
  text-align: left;
}

.lead {
  text-align: left;
}

.pull-quote {
  padding-left: 20px;
  width: 520px;
  margin:0 auto;
  text-align: left;
  border-left:3px solid #2C3E4C;
}

blockquote {
  text-align: left;
  display: inline-block;
  font-style: italic;
  font-family: 'Noto Serif Display', serif;
  font-size:2em;
  color:#2C3E4C;
}

.button {
  text-align: center;
}
