/* styles for my resume */

/* Style all elements with the class name "container" */

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.topper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.display-5 {
  color: #ECA5B6;
  font-family: 'Abril Fatface', serif;
}

.lead {
  color: #FF9F6C;
  font-family: serif;
}

h2 {
  background-color: #ECA5B6;
  font-family: 'Abril Fatface', serif;
  color: #ffff;
}

.title {
  font-family: serif;
  color: #749F5A;
  font-weight: 600;
  font-size: 1.5em;
}

h4 {
  font-family: serif;
  font-style: italic;
  font-size: 7px;
  color: #FF9F6C;
}

.organization {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.25em;
  color: #FF9F6C;
  }


.date {
  font-family: serif;
}

.description {
  font-family: serif;
  font-style: normal;
}


.degree {
  font-family: serif;
  font-weight: bold;
  color: #749F5A;
  font-size: 1.25em;
}

.school {
  font-family: serif;
  font-style: italic;
  font-size: 1.25em;
}

.graduation {
  font-family: serif;
}

.skill {
  font-family: serif;
  font-weight: bold;
  color: #749F5A;
  font-size: 1.25em;
}

.description{
  font-family: serif;
}

/* KEEP */
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
