/* styles for my resume */

/* Style all elements with the class name "container" */

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.topper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.display-5 {
  color: pink;
  font-family: 'Abril Fatface', serif;
}

.lead {
  color: orange;
  font-family: serif;
}

.btn {
  color: pink;
}

h2 {
  background-color: pink;
  font-family:'Abril Fatface', serif;
  color: white;
  font-size: 3px;
}

.title {
  font-family: serif;
  color: #749F5A;
  font-weight: 600;
  font-size: 1.5em;
}

h4 {
  font-family: serif;
  font-style: italic;
  font-size: 7px;
  color: orange;
}

.organization {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.25em;
  }
}

.date {
  font-family: serif;
}

.description {
  font-family: serif;
  font-style: normal;
}

p {
  font-family: serif;
  font-size: 13px;
}

.degree {
  font-family: serif;
  font-weight: bold;
}

.school {
  font-family: serif;
  font-style: italic;
}

.graduation {
  font-family: serif;
}

.skill {
  font-family: serif;
  font-weight: bold;
}

.description{
  font-family: serif;
}

/* KEEP */
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
